* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Playpen Sans", cursive;
  font-family: "Sofia Sans", sans-serif;
  
  /* overflow-y: hidden; */
}
::-webkit-scrollbar{
  display: none;
}